@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h2>Delete User @ViewBag.Mbr.Id</h2>

    are you sure?
    <form method="post">

        <input 
            name="submit" 
            type="submit" 
            value="Ok" 
            class="btn btn-danger"
           />
        <input 
            name="submit" 
            type="submit" 
            value="Cancel" 
            class="btn btn-secondary"/>
    </form>


</div>